body {
  background-color: lightgreen;
  padding-top: 50px;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*
 * Flash Messages Style
 */

.flashes {
  background-color: green;
  color: white;
  border-radius: 100px;
}

.flashes li {
  list-style: none;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

th {
  background-color: #000;
  color: #fff;
}

td, th {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #fff;
}

img.avatar {
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
  display: block;
  height: 200px;
  width: 200px;
}

img.small-avatar {
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  height: 50px;
  width: 50px;
}

a span {
  display: block;
}
