<!DOCTYPE html>

{% extends "layout.html" %}

{% block body %}

<!-- Header -->
<h1>The current cohort at DigitalCrafts</h1>
<p>Would you like to see all DigitalCrafts students, current and past? <a href="/all_students">Click here!</a></p>

<!-- Student Table -->
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Cohort
    </th>
  </tr>
{% for item in student_result_list %}
  <tr>
    <td>
      <a href="/profile/{{item.id}}">{{item.first_name}} {{item.last_name}}</a>
    </td>
    <td>
      {{item.cohort}}
    </td>
  </tr>
{% endfor %}
</table>

<!-- Instructor Table -->
<table>
  <tr>
    <th>
      Cohort Instructors
    </th>
  </tr>
  {% for item in instructor_result_list %}
  <tr>
    <td>
      <a href="/profile/{{item.id}}">{{item.first_name}} {{item.last_name}}</a>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock %}
