<!DOCTYPE html>

{% extends "layout.html" %}
{% block body %}
<h1>User Profile</h1>
<ul>
  <li>{{user.first_name}} {{user.last_name}}</li>
  <li>{{user.email}}</li>
  <li>{{user.web_page}}</li>
  <li>{{user.github}}</li>
  <li>{{user.bio}}</li>
  <li>{{user.current_location}}</li>
</ul>
<form class="form-group" action="/update" method="post">
  <input type="hidden" name="email" value="{{user.email}}">
  <input type="hidden" name="id" value="{{user.id}}">
  {% if session['id'] == user.id %}
    <button class="btn btn-default" type="submit" name="button_update_entry">Update Entry</button>
  {% endif %}
</form>
{% if session['is_admin'] %}
  <form class="form-group" action="/delete" method="post">
    <input type="hidden" name="id" value="{{user.id}}">
      <button class="btn btn-danger" type="submit" name="button_delete_entry">Delete Entry</button>
  </form>
{% endif %}
<h1>Projects</h1>
<ul>
  {%  for entry in project_query %}
    <li>{{entry.name}}</li>
  {% endfor %}
</ul>

<h1>Skills</h1>
<ul>
  {%  for entry in skill_query %}
    <li>{{entry.name}}</li>
  {% endfor %}
</ul>

{% endblock %}
