<!DOCTYPE html>
<!--Project Profile that lists an Individual Project, information(url, notes) for that project, the skill/language/technology that was used for that project, the developers who worked in that particular project-->
{% extends "layout.html" %}
{% block body %}
<br>
<h1>{{project.name}}</h1>
<p>
  Project Information
</p>
<ul>
  <li>{{project.link}}</li>
  <li>{{project.image}}</li>
  <li>{{project.description}}</li>
</ul>

<br>
<p>
  Technology used:
</p>
<!-- A for loop that cycles through the linking table for projects and skills and lists the skills used on a certain project.-->
<ul>
  {% for skill in skills %}
  <li>
    {{skill.skill_name}}
  </li>
  {% endfor %}
</ul>
<br>
<p>
  Developer(s):
</p>
<!-- A for loop that cycles through the linking table for projects and users and lists the users that worked on a certain project.-->
<ul>
  {% for contributor in contributors %}
  <li>
    <a href="/profile/{{contributor.users_link_id}}">{{contributor.first_name}} {{contributor.last_name}}</a>
  </li>

  {% endfor %}
</ul>

{% endblock %}
