<!DOCTYPE html>

{% extends "layout.html" %}
{% block body %}
<h1>Student Profile</h1>
<ul>
  <li>{{student.first_name}} {{student.last_name}}</li>
  <li>{{student.email}}</li>
  <li>{{student.web_page}}</li>
  <li>{{student.github}}</li>
  <li>{{student.bio}}</li>
  <li>{{student.name}}</li>
</ul>
<form class="" action="/delete" method="post">
  <input type="hidden" name="id" value="{{student.id}}">
    <button type="submit" name="button_delete_entry">Delete Entry</button>

</form>
{% endblock %}
